p.about {
        color: rgb(95, 95, 95);
        font-size: 200%;
        line-height: 1.5;
        margin-right: 48%;
        margin-left: 10%;
        margin-top: 0.5em;
      }

.photos-wip {
        font-size: 500%;
        line-height: 1.5;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 18%;
        text-align: center;
      }


.wip {
        font-size: 500%;
        line-height: 1.5;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 18%;
        text-align: center;
      }
.box {
    background-color: beige;
}

.box-4 {
    background-image: url(images/perdican\ remove.png);
    background-size: contain;
    background-position: center;
}

.grid-container {
    margin-left: 58%;
    margin-top: -25%;
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-1 box-2"
    "box-3 box-4 box-2";
}

@media(max-width: 56em){
    .grid-container {
       gap: 1em;
       grid-template-areas: 
       "box-1 box-1"
       "box-2 box-3"
       "box-2 box-4";
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.navbar ul{
    list-style-type: none;
    display: inline-flex;
    gap: 4px;
    border-radius: 15px;
    background-color:rgb(255, 255, 255);
    padding: 6px;
    margin-left: 9em;
    margin-bottom: 0px;
    border: 2px solid rgb(219, 217, 217);
}
.navbar a{
    font-size: 1.4em;
    color: rgb(95, 95, 95);
    text-decoration: none;
    padding: 0px 14px;
    display: block;
    text-align: center;
    transition: 0.3s;
    border-radius: 10px;
}
.navbar a:hover{
    background-color: rgb(240, 240, 240);
    
}
.navbar li{
    float: left;
}
.navbar a.active {
    color: black;
    background-color: rgb(240, 240, 240);
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2em;
    width: 100%;
}
.btns {
    display: flex;
    margin-right: 2em;
}
.btn { 
    margin: 3px;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    background: white;
    color: rgb(95, 95, 95);
    border: 2px solid rgb(185, 185, 185);
    transition: 0.3s;
}
.btn-active {
    margin: 3px;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    background: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(185, 185, 185);
}
.btn:hover {
    background: rgb(240, 240, 240);
    
}
